/* @import './base.css'; */

#main-home {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#header {
  position: relative;
  z-index: 1;
  background: white;
  height: 100px;
  padding: 20px;
}

#map {
  min-height: calc(80vh - 100px);
  height: 100%;
  width: 100%;
}

.g-sidenav-pinned .sidenav-footer {
  margin-bottom: 1rem !important;
}