@import './base.css';

header {
  position: relative;
  z-index: 1000;
  background: white;
  height: 150px;
  padding: 20px;
}

#map {
  height: calc(100vh - 150px);
  width: 100vw;
  margin-top: 150px;
}